.app {
  padding-top: 50px;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom : 10px;

  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff9ff9;
  font-weight: 600;
  color: #000;
}