.app {  
  width: 100vw;
  height: 100vh;
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  font-weight: 600;
  color: #000;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap : 15px;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff9ff9;
  font-weight: 600;
  color: #000;
}

.toggle {
  background-color : #ff0080;
  color : #000;
  padding: 5px 10px;
  border: 0;
  font-size : 1.3rem;
}